*{
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100vw;
    margin: 0;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: Courier, Arial, sans-serif;
    color: #111211;
}

main {
    padding-top: 3em; 
    width: 90%;
    margin-left: 5%;
    min-height: 75vh;
    margin-bottom: 5em;
}

h1{
    margin-top: 10vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background: #4a9c99;
    text-align: left;
    padding: 0;
    z-index: 1;
    box-shadow: 0 .5vw 1vw #21373a;
}

nav h2 {
    font-size: 5.5vh;
    width: 15.5vh; 
    padding-left: 5vh;
    margin-left: 2.5vh;
    border-radius: 1em;
    color: #ffffff;
}

nav h2:hover {
    transition: ease-in-out 250ms;
    color: #4a9c99;
    background-color: #21373a;
}

nav ul{
    display: none;
    margin-top: -3vh;
    box-shadow: 0 2vw 2vw #21373a;
    background: #4a9c99;
    text-align: center;
    list-style: none;
    padding: 2.5vh 0;
}

nav ul.visible{
    display: flex;
    flex-direction: column;
}
nav li a{
    display: block;
    padding: 5px 10px;
    font-size: 1.25em;
    color: #ffffff;
    border-radius: 2.5em;
    text-decoration: none;
}

nav li{
    display: block;
}

nav li a:hover{
    transition: ease-in-out 250ms;
    color: #4a9c99;
    background-color: #21373a;
    box-shadow: 0 .5vw 1vw #21373a;
}

footer {
    width: 100vw;
    height: 8vh;
    background-color: #4a9c99;
    color: #ffffff;
    box-shadow: 0 -.25vw 1vw #21373a;
}

footer p {
    margin-left: 5%;
    padding-top: .5em;
    font-size: 1em;
}

@keyframes wiggle {
    33% {transform: rotate(5deg);}
    66% {transform: rotate(-5deg);}
}

.cursor:hover {
    cursor: pointer;
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media only screen and (min-width: 835px) {
    nav li{
        display: inline-block;
        margin: 0;
        padding: .1em .25em;
    }
    
    nav li a {
     padding: 2vh 3vw;
    }
    
    h3 {
     margin-top: 12vh;
     margin-bottom: 0;
    }
    
    nav h2{
        display: none;
    }
    
    nav ul{
        margin-top: 1vh;
        display: block;
        box-shadow: none;
    }
    
}